
<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="notifications-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="settings-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ligne1">
    <p class="Dash">DashBoard</p>
    <p class="tri">trier par :</p>
    <ion-item>
      <ion-select placeholder="Select One">
        <ion-select-option value="recent">recent</ion-select-option>
        <ion-select-option value="croissant">croissant</ion-select-option>
        <ion-select-option value="decroissant">décroissant</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-buttons class="btnadd"><ion-button class="btnadd2">Ajouter</ion-button></ion-buttons>
  </div>
</ion-content>
