
<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="notifications-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="settings-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ligne1">
    <p class="Dash">DashBoard</p>
  </div>
  <div class="rubrique">
    <div class="case">
      <p>Nouveaux streamers</p>
      <p>+ 58 000</p>
      <p>cette semaine</p>
    </div>
    <div class="case">
      <p>Devis</p>
      <p>157</p>
      <p>aujourd'hui</p>
    </div>
    <div class="case">
      <p>vues moyennes</p>
      <p>3M4</p>
      <p>aujourd'hui</p>
    </div>
  </div>
  <div class="container_tableaux">
    <div class="tableaux">
      <p>Fréquentation (6 derniers mois)</p>
      <div class="graphique"></div>
      <p>Activités récentes</p>
      <div class="liste_activite"></div>
    </div>
    <div class="tableaux">
      <div class="affiliations">
        <p>Demandes d'affiliations</p>

      </div>
    </div>
  </div>
</ion-content>
