<ion-content>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="notifications-outline" style="color: white;"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="settings-outline" style="color: white;"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ligne1">
    <p class="stream">Entreprise</p>
    <p class="tri">trier par :</p>
    <ion-item>
      <ion-select placeholder="Select One">
        <ion-select-option value="recent">recent</ion-select-option>
        <ion-select-option value="croissant">croissant</ion-select-option>
        <ion-select-option value="decroissant">décroissant</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-buttons class="btnadd"><ion-button class="btnadd2" style="color: white;">Ajouter</ion-button></ion-buttons>
  </div>
  <div class="donees">
    <table >
      <thead>
        <tr>
          <th colspan="5" id="ecarafil"></th>
        </tr>
      </thead>
      <tbody>
        <tr  class="ligne_niveau" >
          <td class="mise_niveau1" >
            <p class="colonne1.1" class="ligne_grasse">Pseudo</p>
          </td>
          <td class="mise_niveau1">
            <p class="colonne2.2" class="ligne_grasse">Nom/Prénom</p>
          </td>
          <td class="mise_niveau3">
            <p class="colonne3.3" class="ligne_grasse">Mail</p>
          </td>
          <td class="mise_niveau2">
            <p class="colonne4.4" class="ligne_grasse">Téléphone</p>
          </td>
          <td class="mise_niveau1">
            <p class="colonne5.5" class="ligne_grasse">Adresse</p>
          </td>
        </tr>
        <tr *ngFor=" let data of datas">
          <td class="mise_niveau1">
            <p class="colonne1_1">{{data.nom}}</p>
          </td>
          <td class="mise_niveau1">
            <p class="colonne2.2">{{data.prenom}}</p>
          </td>
          <td class="mise_niveau3">
            <p class="colonne3_3">{{data.email}}</p>
          </td>
          <td class="mise_niveau2">
            <p class="colonne2.2">{{data.telephone}}</p>
          </td>
          <td class="mise_niveau">
            <p class="colonne3.3">{{data.adresse}}, {{data.ville}}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
